h1 {
    color: blue;
}

#container{
  height:100vh;
  width:100vw;
}


#config, #workspace{
  border-width:1px;
  border-color:lightgray;
  border-style:solid;
  height:100%;
}

#library{
  left:0;
  float:left;
  width:30%;
}

#vanilla-project{
  left:0;
  top:0;
  width:100%;
  height:100%
}
.toolbox{
  margin-left: 30px;
  margin-top: 10px;
  position: absolute;
  width: 700px;
  height: 120px;
  z-index: 1;
  background-color: white;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
}

.page-pagination{
  clear:both;
  width:100%;
}
.inline{
  display:inline;
}

li.page-thumb{
  margin-left: 10px;
  border-color: lightgray;
}

a.page-thumb.page-link{
  border-color: lightgray;
  border-style: solid;
  padding: 0.2rem !important;
  border-width: 1px 1px 1px 1px;
  max-width:100px !important;
  max-height:100px !important;
}

a.page-link.page-add{
  margin-top:25%;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  border:none !important;
}

img.page-thumb{
  width:100px !important;
  height:100px !important;
  max-width:100px !important;
  max-height:100px !important;
}
.page-thumb{
  width:100px !important;
  height:100px !important;
  max-width:100px !important;
  max-height:100px !important;
}

.image-loader{
  border-style:none;
  border-width:1px;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  border-color:gray;
}

#slides{
  clear:right;
  right:0;
  width:100%;
}

#workspace{
  margin-left:5px;
  border-spacing:dashed;
  float:left;
  width:65%
}

#workspace-inner {
  height:100vh;
}
.workspace{
  width:100%;
  height:100%;
  background-color:lighter;
}

.workspace-div{
  position:relative;
  background-color:lighter;
}

#canvas-wrapper{
  overflow-y:scroll;
  height:100vh;
  background-color:lightgray;
  border-color:lightgray;
  border-width:1px;
  border-style:solid;
}

#pagination{
  height:25vh;
}
.canvas-container{
  position:absolute;
  background-color:white;
  left:0;
  top:0;
}
.canvas{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-color:black;
  border-style:dashed;
  border-width:1px;
  width: 100%;
  height: 100%;
}

.visible {
  display:block;
}
.hidden {
  display:none;
}
.canvas.hidden{
  display:none;
}

.file-load-ctrl{
  opacity:0;
  position:absolute;
  left:0;
  right:0;
  font-size:10px;
}

.file-load-wraper{
  margin : 2px 2px 2px 2px;
  overflow:hidden;
  position:relative;
  width:100px;
  height:50px;
}

.thumbs-container{
  margin-left:2px;
  margin-right:2px;
  border-style: none;
}

.photo-thumbnail{
  position:relative;
  padding-top: 10px;
  border-width:2px;
  border-style: none;
  display:block;
  margin: 2px 2px 2px 2px;
  text-align: center;
  float:left;
  min-height:40px;
  min-width:130px;
  max-width:130px;
  max-height:100px;
  width:80px;
  height:60px;
  overflow:hidden;
  background-color:white;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.settings{
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  display:block;
}

.settings > .setting{
  margin-left:20px;
  margin-top:10px;
}

.zoom-control-div{
  width:100%;
  height:5vh;
  background-color:lighter;

}

.photo{
}

.tool-title{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  text-align:left;
  font-weight:bold;
}

.btn-gutter {
  margin : 2px 2px 2px 2px;
}
.top-margin-05 {
  margin-top : 0.5em
}
.top-margin-1 {
  margin-top : 1em
}
.top-margin-2 {
  margin-top : 2em
}
.left-margin-05 {
  margin-top : 0.5em
}
.left-margin-1 {
  margin-top : 1em
}
.left-margin-2 {
  margin-top : 2em
}
.right-margin-05 {
  margin-top : 0.5em
}
.right-margin-1 {
  margin-top : 1em
}
.right-margin-2 {
  margin-top : 2em
}

.margin-02m{
  margin :.2em;
}

#main-container{
  width:100%;
  height:100%;
}

.logo {
 font-family:"Calibri";
 font-size:x-large;
 font-weight:bold;
}

.input-xs {
  height: 30px;
  padding: 0px 0px;
  line-height: 1.0;
  border-radius: 0px;
  text-align:center;
  border-color:transparent;
  box-shadow:none;
  -webkit-box-shadow:none;
  outline:none;width:20px !important;
}

.hdiv  {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 0;
  margin: 1px 0;
}

.tag {
}

.tag:hover{
 cursor:pointer;
 background-color: #f0ad4e;
}

.tag .selected{
  background-color: #337ab7;
}

.title {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size : 18px;
}

.hoplon-grid {

}

.hoplon-grid > tbody > tr >td {
  vertical-align:middle
}

svg text{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
